<h1 id = "splash">Welcome to the Black Lagoon!</h1>
<h2 id = "subsplash">Nice this time of year...</h2>

<li>What would you like to do?</li>
<li><a href="/creatures">See creatures</a></li>
<li><a href="/creatures/new">Add a creature</a></li>
