<h1> Black Lagoon: Nice This Time of Year </h1>
<% @creatures.each do |creature| %>

    <div>
        Name: <%= creature[:name] %> <br>
        Description: <%= creature[:description] %>
    </div>

<% end %>